<div class="users_index">
	<%if flash[:notice]%>
		<div class="flash">
			<%= flash[:notice] %>
		</div>
	<%end%>
	<%= render 'books/list_not_form_for',user: @user,book: @book %>
	<%= render 'users/users-list',users: @users%>
</div>