<div class="container">
	<%if flash[:notice]%>
		<div class="flash">
			<%= flash[:notice] %>
		</div>
	<%end%>
	<div>
		<%= render 'books/list',user: @user,book: @book %>
	</div>
	<div>
		<%= render 'books/book_list',books: @books%>
	</div>
</div>

